@import "filters";

section.content {
	text-align: center;
	figure {
		background: #fff url(../imagen/Zero_Katana_Zero.webp) no-repeat center;
		background-size:cover;
		border: 2px solid #d94d9b;
		border-radius: 110px;
		display: inline-block;
		height: 100px;
		margin: 10px auto;
		padding: 0px;
		width: 200px;
	}
}