extends inc/layout.pug 

block title 
    title inheritance 
block content 
    header 
        h1 inheritance 
    section 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odit facilis officia pariatur nobis vitae libero, error expedita voluptas totam.
                    